*
!.gitignore
!.gitattributes
!*.py
!*.txt
!*.md
!*.ipynb
!*.yml
!*.sh
!*.org
!MakeFile
!Dockerfile

!/backup/
!/conf/
!/notebooks/
!/org/
!/src/
!/tests/
!/reports
!/org/.ob-jupyter/*.png

!/org/tests/*.org
!/org/tests/.ob-jupyter/*.png
!/org/search/*.org
!/org/search/.ob-jupyter/*.png

!/**/*.md
!/**/*.py
!/**/*.txt
!/**/*.yml
!/**/*.ipynb
!/**/*.sh
!/**/*.org
!/**/MakeFile
!/**/*.bak

/data