*
!.gitignore
!.gitattributes
!*.py
!*.txt
!*.md
!*.ipynb
!*.yml
!*.sh
!*.org
!MakeFile
!Dockerfile

!/backup/
!/conf/
!/notebooks/
!/org/
!/src/
!/tests/
!/reports

!/org/tests/*

!/**/*.md
!/**/*.py
!/**/*.txt
!/**/*.yml
!/**/*.ipynb
!/**/*.sh
!/**/*.org
!/**/MakeFile
!/**/*.bak

/data